/* On centre le formulaire via un conteneur général */
.page-contact {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* On centre le bouton d'envoie du formulaire */
.pied-formulaire {
    text-align: center;
}

form {
    background-color: #FFF9ED;
    padding: 30px;
    border-radius: 10px;
}

form h1 {
    font-size: 20px;
    color: black;
}

/* Mise en place de la ligne de séparation */
.separation {
    width: 100%;
    height: 1px;
    background-color: #747cdf;
}

form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

form .corps-formulaire .groupe {
    /* Positionnement dans le flux de la page → il devient le repère de positionnement pour les éléments enfants cad en position absolute */
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form .corps-formulaire .gauche .groupe input {
    /* On espace le label de l'input pour des questions d'esthétique */
    margin-top: 5px; 
    padding: 10px 5px 10px 30px;
    /* Bordure des encadrés des input dans une couleur grise (pour l'instant) */
    border: 1px solid #c9c9c9;
    /* Couleur de la bordure lors de la saisie de l'input */
    outline-color: #747cdf;
    border-radius: 5px;
}

form .corps-formulaire .gauche .groupe .form-icon {
    /* Positionne l'élément par rapport à son parent le plus proche qui est la div groupe */
    position: absolute;
    color: #747cdf; 
    left: 0;
    top: 25px;
    padding: 9px 8px;
}

form .corps-formulaire .droite {
    /* Espacement entre les éléments à gauche et à droite du formulaire */
    margin-left: 50px;

}

form .corps-formulaire .droite .groupe {
    /* Permet de prendre la totalité de la hauteur du côté droit du formulaire */
    height: 100%;
}

form .corps-formulaire .droite .groupe textarea {
    margin-top: 5px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 2px solid #747cdf;
    /* Enlève la bordure en couleur lors du clic */
    outline: none;
    border-radius: 5px;
    /* Enlève la possibilité de redimensionner l'encadré */
    resize: none;
    height: 80%;
}

form .pied-formulaire input {
    /* Espacement entre le bouton et les éléments du formulaire */
    margin-top: 10px;
    background-color: #747cdf;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    /* Permet de modifier le curseur de l'utilisateur lorsque celui passe le curseur sur le bouton */
    cursor: pointer;
    /* Création d'un effet de 0,5 seconde lorsque l'on passe le curseur au dessus du bouton ; transition prend en valeur la propriété transform */
    transition: transform 0.5s;
}

/* Animation du bouton lorsque l'on place le curseur au dessus */
form .pied-formulaire button:hover {
    transform: scale(1.05);

}

/* On vérifie si la taille de l'écran de l'utilisateur est <= à 920px alors on applique cette propriété sinon non */
@media screnn and (max-width:920px) {
    form .corps-formulaire .droite {
        margin-left: 0px;
    }
}