/* Sélection → Propriétés → Valeurs */

/* Le margin à 0 et en auto permet de supprimer les espaces blancs qui pouvaient apparaître sur le côté */
body {
    font-family: "Manrope", sans-serif;
    background-color: #F5EFE1;
    margin: 0 auto; 
    color: black;
}

/* En têtes */

/* Cela permet de d'aligner les liens de navigation avec le logo */
header {
    display: flex;
    align-items: center;
    background-color: rgb(198, 60, 60);
    padding: 20px;
}

/* On crée une box et on annule la liste pour mettre les liens en horizontal */
header .nav {
    display: flex;
    list-style: none;
    margin-left: 50px;
}

/* On met les liens de navigation en blanc pour une meilleure visibilité sur fond noir */
header .nav a {
    color: white;
    margin: 10px;
}

header img {
    width: 100px;
}

h1{
    font-family: "Rochester";
    text-align: center;
    color: white;
}

/* On ajoute de la marge extérieure pour centrer un peu plus les éléments */
section {
    padding: 80px;
}


a {
    font-size: 1em;
    /* Pour enlever la ligne en dessous des liens */
    text-decoration: none; 
    color: white;
}

/* Changer l'apparence au survol de la souris */
a:hover {
    color: black;
    text-decoration: underline;
    opacity: 0.5;
}

/* Changer l'apparence au clic */
/* a:active {
    text-decoration-color: white;
} */

/* Mettre en avant un lien quand il est sélectionné */
/* a:focus {
    background-color: #242424;
    color: white;
    outline-color: deeppink;
} */

/* Pour les liens déjà visités */
/* a:visited {
    color: blue;
} */


/* Pied de page / Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(198, 60, 60);
    padding: 20px;
    font-weight: 600;
}

.cgu {
    text-decoration: none;
    color: black;
}

.copyright {
    color: black;
}

